HYP_BASE_ORIGINCHAINNAME=lineagoerli
HYP_BASE_REORGPERIOD=5
HYP_BASE_INTERVAL=3
CONFIG_FILES=../hyperlane-deploy/artifacts/agent_config.json
HYP_BASE_DB=/tmp/lineagoerlivalidatordb
HYP_BASE_CHAINS_LINEAGOERLI_CONNECTION_URL=https://linea-goerli.infura.io/v3/
HYP_BASE_CHAINS_GOERLI_CONNECTION_URL=https://goerli.infura.io/v3/
HYP_BASE_CHAINS_SEPOLIA_CONNECTION_URL=https://sepolia.infura.io/v3/
HYP_BASE_CHECKPOINTSYNCER_TYPE=localStorage
HYP_BASE_CHECKPOINTSYNCER_PATH=/tmp/hyperlane-validator-signatures-ethereum
HYP_BASE_VALIDATOR_KEY=
HYP_BASE_CHAINS_LINEAGOERLI_SIGNER_KEY=
